<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/member/signin}" th:object="${signinDto}" method="get">
  이메일
  <input type="text" name="email" th:filed="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
  비밀번호
  <input type="text" name="pw" th:filed="*{pw}">
    <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}"></p>
  <button type="submit">로그인</button>
</form>
<a href="signup_form.html">회원이 아니신가요?</a>
</body>
</html>